apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ollama
  name: ollama
  namespace: openwebui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
        - name: ollama
          image: ollama/ollama:latest
          ports:
            - containerPort: 11434
          env:
            - name: OLLAMA_HOST
              value: 0.0.0.0
          volumeMounts:
            - name: ollama-data
              mountPath: /root/.ollama
          resources:
            requests:
              cpu: 1
              memory: 2Gi
            limits:
              cpu: 2
              memory: 8Gi
      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: pvc-ollama

---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mcpo
  name: mcpo
  namespace: openwebui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcpo
  template:
    metadata:
      labels:
        app: mcpo
    spec:
      containers:
        - name: mcpo
          image: ghcr.io/open-webui/mcpo:main
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: 1
              memory: 1Gi
            limits:
              cpu: 1
              memory: 1Gi
          args:
            - --config
            - /app/config/mcpo-config.json
          volumeMounts:
            - name: mcpo-config-volume
              mountPath: /app/config
      volumes:
        - name: mcpo-config-volume
          configMap:
            name: mcpo-configmap
        - name: mcpo-data
          persistentVolumeClaim:
            claimName: pvc-mcpo

---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: openwebui
  name: openwebui
  namespace: openwebui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openwebui
  template:
    metadata:
      labels:
        app: openwebui
    spec:
      containers:
        - name: openwebui
          image: ghcr.io/open-webui/open-webui:main
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 1
              memory: 2Gi
            limits:
              cpu: 2
              memory: 4Gi
          env:
            - name: OLLAMA_BASE_URL
              value: http://svc-ollama:11434
            - name: OLLAMA_HOST
              value: svc-ollama
            - name: OLLAMA_PORT
              value: "11434"