apiVersion: v1
kind: Service
metadata:
  labels:
    app: ollama
  name: svc-ollama
  namespace: openwebui
spec:
  selector:
    app: ollama
  ports:
  - protocol: TCP
    port: 11434
    targetPort: 11434
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: mcpo
  name: svc-mcpo
  namespace: openwebui
spec:
  selector:
    app: mcpo
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: openwebui
  name: svc-openwebui
  namespace: openwebui
spec:
  selector:
    app: openwebui
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 8080