{{- if .Values.ollama.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ollama
    {{- include "openwebui-dremio.labels" . | nindent 4 }}
  name: ollama
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
        - name: ollama
          image: {{ .Values.ollama.image.repository }}:{{ .Values.ollama.image.tag }}
          imagePullPolicy: {{ .Values.ollama.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.ollama.service.port }}
          env:
            - name: OLLAMA_HOST
              value: 0.0.0.0
          volumeMounts:
            - name: ollama-data
              mountPath: /root/.ollama
          resources:
            {{- toYaml .Values.ollama.resources | nindent 12 }}
      {{- include "openwebui-dremio.nodeAffinity" . | nindent 6 }}
      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: pvc-ollama
{{- end }}

